{
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "singleQuote": false,
  "semi": true,
  "printWidth": 120,
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.sol",
      "options": {
        "explicitTypes": "always"
      }
    },
    {
      "files": ["*.js"],
      "options": {
        "singleQuote": true,
        "trailingComma": "all",
        "explicitTypes": "always"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "explicitTypes": "always"
      }
    }
  ]
}
